@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { @apply border-gray-800; }
  body { @apply bg-[#0F172A] text-gray-100; }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar { width: 6px; }
  .scrollbar-thin::-webkit-scrollbar-track { background: transparent; }
  .scrollbar-thin::-webkit-scrollbar-thumb { background: #334155; border-radius: 3px; }
}
